<div class="bg">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <h1>Hi {{currentUser.firstName}}!</h1>

                    <h2>Welcome to this site!</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="seethrough" class="bg-transparent">
        <h2 id="message" class="text-center text-light">Click here to see more!</h2>
        <br>
        <h3 id="message" class="text-center text-light">Do things - faster</h3>
        <button id="submitButton" type="button" class="btn btn-primary btn-lg">Primary</button>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                </div>
            </div>
        </div>
    </div>
</div>