#myFooter{
    background-color: #3c3d41;
    color: white;
    padding-top:5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 5px;
    text-align: center;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 0;
}