<nav id="stickynavbar" class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav" mr-auto>
        <!-- Left -->
        <a class="nav-item nav-link text-light" routerLink="/">Home</a>
    </div>
    <div class="navbar-nav ml-auto">
        <!-- Right -->
        <a class="nav-item nav-link text-light" routerLink="/account" *ngIf="currentUser">Account</a>
        <a class="nav-item nav-link" (click)="logout()" routerLink="/login" *ngIf=" currentUser">Logout</a>
        <a class="nav-item nav-link text-light" routerLink="/login" *ngIf="!currentUser">Login</a>
    </div>
</nav>

<div #spacer></div>