<div class="bg" [ngStyle]="{'background-image': 'url(' + background1 + ')'}">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center">
                <h1>Hi {{currentUser.firstName}}!</h1>

                <h2>Welcome to this site!</h2>
            </div>
        </div>
    </div>

    <app-home-buy></app-home-buy>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center">
                <h2>Take a look at this!</h2>
            </div>
        </div>

        <app-imagegrid></app-imagegrid>
    </div>
</div>


<div class="bg" [ngStyle]="{'background-image': 'url(' + background2 + ')'}">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center">
                <h1>Hi {{currentUser.firstName}}!</h1>

                <h2>Welcome to this site!</h2>
            </div>
        </div>
    </div>

    <app-home-buy></app-home-buy>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                    <h2>Welcome to this site!</h2>
                </div>
            </div>
        </div>
    </div>
</div>